In [2]:
import pandas as pd

In [3]:
path_to_file = ('shared/homeworks/python_ds_miniprojects/2/bookings.csv')

In [4]:
bookings = pd.read_csv(path_to_file, encoding = 'Windows = 1251', sep = ';')

In [5]:
bookings_head = bookings

In [6]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [7]:
bookings_head = bookings.head(7)

In [8]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [9]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [10]:
def replace_space_with_star(name):
    new_name = name.replace(' ', '_').lower()
    return new_name

In [11]:
new_bookings = bookings.rename(columns = replace_space_with_star)

In [12]:
a = bookings.columns

In [13]:
a

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [14]:
bookings

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [15]:
bookings = bookings.rename(columns={'Hotel': 'hotel',
                                             'Is Canceled': 'is_canceled',
                                             'Lead Time': 'lead_time',
                                             'arrival full date': 'arrival_full_date',
                                             'Arrival Date Year': 'arrival_date_year',
                                             'Arrival Date Month': 'arrival_date_month',
                                             'Arrival Date Week Number': 'arrival_date_week_number',
                                             'Arrival Date Day of Month': 'arrival_date_day_of_month',
                                             'Stays in Weekend nights': 'stays_in_weekend_nights',
                                             'Stays in week nights': 'stays_in_week_nights',
                                             'stays total nights': 'stays_total_nights',
                                             'Adults': 'adults',
                                             'Children': 'children',
                                             'Babies': 'babies',
                                             'Meal': 'meal',
                                             'Country': 'country',
                                             'Reserved Room Type': 'reserved_room_type',
                                             'Assigned room type': 'assigned_room_type',
                                             'customer type': 'customer_type',
                                             'Reservation Status': 'reservation_status',
                                             'Reservation status_date': 'reservation_status_date'})

In [16]:
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [17]:
bookings.is_canceled.value_counts()

0    75166
1    44224
Name: is_canceled, dtype: int64

In [18]:
result = bookings \
.query('is_canceled == 0') \
.value_counts('country')

In [19]:
result

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
       ...
MRT        1
MMR        1
MLI        1
MDG        1
PLW        1
Length: 165, dtype: int64

In [20]:
def result_2_nights_hotel(sum):
    nights_sum = stays_in_weekend_nights + stays_in_week_nights
    return night_sum

In [21]:
result_night_sum = bookings.groupby('hotel').agg({'stays_in_weekend_nights': 'mean', 'stays_in_week_nights': 'mean'}).round(2)

In [22]:
result_night_sum

              stays_in_weekend_nights  stays_in_week_nights
hotel
City Hotel                       0.80                  2.18
Resort Hotel                     1.19                  3.13

In [23]:
result_night_sum['stays_in_weekend_nights'] + result_night_sum['stays_in_week_nights']

hotel
City Hotel      2.98
Resort Hotel    4.32
dtype: float64

In [24]:
overbook = bookings \
.query('assigned_room_type != reserved_room_type')

In [25]:
overbook.shape

(14917, 21)

In [26]:
overbook

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
12,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,USA,D,E,Transient,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,IRL,D,E,Transient,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,IRL,A,E,Transient,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,FRA,A,G,Transient,Check-Out,2015-07-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119273,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119274,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119289,City Hotel,0,25,2017-08-30,2017,August,35,30,0,3,...,3,0.0,0,BB,ITA,E,F,Transient,Check-Out,2017-09-02
119297,City Hotel,0,332,2017-08-31,2017,August,35,31,0,2,...,2,0.0,0,BB,GBR,D,F,Transient,Check-Out,2017-09-02
119357,City Hotel,0,47,2017-08-31,2017,August,35,31,1,3,...,1,0.0,0,SC,PRT,A,D,Transient,Check-Out,2017-09-04

In [27]:
canseled_mounth = bookings.query('hotel == City Hotel' and 'is_canceled==1') \
.groupby('arrival_date_year')['arrival_date_month'] \
.value_counts()

In [28]:
canseled_mounth

arrival_date_year  arrival_date_month
2015               September             2094
                   October               1732
                   August                1598
                   July                  1259
                   December               973
                   November               486
2016               October               2514
                   June                  2096
                   April                 2061
                   September             2022
                   May                   1915
                   August                1825
                   November              1636
                   July                  1499
                   March                 1477
                   December              1398
                   February              1337
                   January                557
2017               May                   2762
                   April                 2463
                   June                  2439
                   July                  1984
                   August                1816
                   March                 1672
                   February              1359
                   January               1250
Name: arrival_date_month, dtype: int64

In [29]:
canseled_mounth_1 = bookings.query('hotel == City Hotel' and 'is_canceled != 0') \
.groupby('arrival_date_year')['arrival_date_month'] \
.value_counts()

In [30]:
canseled_mounth_1

arrival_date_year  arrival_date_month
2015               September             2094
                   October               1732
                   August                1598
                   July                  1259
                   December               973
                   November               486
2016               October               2514
                   June                  2096
                   April                 2061
                   September             2022
                   May                   1915
                   August                1825
                   November              1636
                   July                  1499
                   March                 1477
                   December              1398
                   February              1337
                   January                557
2017               May                   2762
                   April                 2463
                   June                  2439
                   July                  1984
                   August                1816
                   March                 1672
                   February              1359
                   January               1250
Name: arrival_date_month, dtype: int64

In [31]:
a5 = bookings.agg({'adults': 'mean', 'children': 'mean', 'babies': 'mean'})

In [32]:
a5

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [33]:
a5.mean

<bound method Series.mean of adults      1.856403
children    0.103890
babies      0.007949
dtype: float64>

In [34]:
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [64]:
#bookings['total_kids'] = bookings['children'] * bookings['babies']

In [65]:
#bookings.groupby('total_kids') \
#.agg({'is_canceled': 'mean'}) \
#.round(2)

In [66]:
#bookings.total_kids.round(2)

In [67]:
#def total_kids(sum):
   # finish_total_kids = children + babies
#    return finish_total_kids

In [68]:
#finish_total_kids = bookings.groupby('hotel').agg({'children': 'mean', 'babies': 'mean'})

In [75]:
bookings.agg({'adults': 'mean', 'children': 'mean', 'babies': 'mean'})

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [76]:
bookings['total_kids'] = bookings.children + bookings.babies
bookings.groupby('hotel') \
    .agg({'total_kids': 'mean'}) \
    .round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

In [86]:
bookings['defended_kids'] = bookings['total_kids'] == 0
with_kids = bookings.query('defended_kids == True')
with_kids_canceled = with_kids.query('is_canceled == 1')
churn_rate = with_kids_canceled.shape[0] / with_kids.shape[0]*100
churn_rate = round(churn_rate, 2)
churn_rate

37.22